<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <style>
        body {
            text-align: center;
            padding: 150px;
        }
        h1 {
            font-size: 50px;
        }
        body {
            font: 20px Helvetica, sans-serif;
            color: #333;
        }
        article {
            display: block;
            text-align: left;
            width: 650px;
            margin: 0 auto;
        }
        a {
            color: #dc8100;
            text-decoration: none;
        }
        a:hover {
            color: #333;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <article>
        <h1>เราไม่พบหน้าที่คุณกำลังค้นหา!</h1>
        <div>
            <p>ขออภัย, หน้าเว็บที่คุณพยายามเข้าถึงไม่มีอยู่หรืออาจถูกลบไปแล้ว. คุณสามารถกลับไปที่ <a href="/">หน้าหลัก</a> หรือใช้การค้นหาเพื่อหาสิ่งที่คุณต้องการ.</p>
        </div>
    </article>
</body>
</html>