<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS</title>

    <!-- Box Icons  -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Styles  -->
    <link rel="shortcut icon" href="img/kxp_fav.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/permission_create.css">

</head>

<body>
    <div class="sidebar close">
        <!-- ========== Logo ============  -->
        <a href="#" class="logo-box">
            <i class='bx bxs-cat'></i>
            <div class="logo-name">POS</div>
        </a>

        <!-- ========== List ============  -->
        <ul class="sidebar-list">
            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="/dashboard" class="link">
                        <i class='bx bx-grid-alt'></i>
                        <span class="name">แดชบอร์ด</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="/dashboard" class="link submenu-title">แดชบอร์ด</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="/employee" class="link">
                        <i class='bx bx-collection'></i>
                        <span class="name">ข้อมูลพนักงาน</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="/employee" class="link submenu-title">ข้อมูลพนักงาน</a>
                    <a href="/employee" class="link">พนักงาน</a>
                    <a href="#" class="link">ผู้ใช้งาน</a>
                    <a href="#" class="link">สิทธิ์ผู้ใช้งาน</a>
                </div>
            </li>

            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bxs-food-menu'></i>
                        <span class="name">เมนูอาหาร</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">เมนูอาหาร</a>
                    <a href="#" class="link">เมนูอาหาร</a>
                    <a href="#" class="link">ตั้งค่าหมวดหมู่</a>
                    <a href="#" class="link">ตั้งค่าหน่วยสินค้า</a>
                    <a href="#" class="link">ตั้งค่าประเภท</a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-table'></i>
                        <span class="name">โต๊ะอาหาร</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">โต๊ะอาหาร</a>
                    <a href="#" class="link">จัดโต๊ะอาหาร</a>
                    <a href="#" class="link">สั่งเมนู</a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-cart-download'></i>
                        <span class="name">รายการจัดซื้อ</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">รายการจัดซื้อ</a>
                    <a href="#" class="link">รายการจัดซื้อ</a>
                    <a href="#" class="link">คงคลัง</a>
                    <a href="#" class="link">ตั้งค่าประเภท</a>
                    <a href="#" class="link">ตั้งค่าปริมาณ</a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bxs-dollar-circle'></i>
                        <span class="name">โปรโมชั่น</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">โปรโมชั่น</a>
                    <!-- submenu links here  -->
                </div>
            </li>
    </div>

    <!-- ============= Home Section =============== -->
    <section class="home">
        <div class="nav">
            <div class="toggle-sidebar">
                <i class='bx bx-menu'></i>
            </div>
            <nav>
                <div class="nav-content"> <!-- Added this wrapper for better control -->
                    <div class="profile-details">
                        <img src="../img/chef.png" alt="">
                    </div>
                    <a href="/login">เข้าสู่ระบบ</a>
                </div>
            </nav>
        </div>

        <!-- ============= Top Dashboard =============== -->
        <div class="breadcrumbs">
            <a href="/dashboard"> หน้าหลัก</a> > <a href="/permission">สิทธิ์ผู้ใช้งาน</a> >
            <span>สร้างสิทธิ์ผู้ใช้งาน</span>
        </div>
        <div class="topic"><a href="javascript:history.back()" style="text-decoration: none;">
                <i class='bx bx-left-arrow-alt'></i></a> สร้างสิทธิ์ผู้ใช้งาน</div>

        <div class="topic">สร้างสิทธิ์ผู้ใช้งาน</div>

        <!-- ============= Center Dashboard =============== -->

        <div class="centered-content">
                <form action="/permission" method="POST">
                        <div class="input-field">
                            <label for="permission_id">รหัสสิทธิ์ผู้ใช้งาน</label>
                            <input type="text" name="permission_id" id="permission_id" required>
                        </div>
                        <div class="input-field">
                            <label for="permission_name">ชื่อสิทธิ์ผู้ใช้งาน</label>
                            <input type="text" name="permission_name" id="permission_name" required>
                        </div>

                        <div class="input-field">
                            <table class="permissions-table">
                                <thead>
                                    <tr>
                                        <th>สิทธิ์การใช้งาน</th>
                                        <th>ทั้งหมด</th>
                                        <th>อ่าน</th>
                                        <th>สร้าง</th>
                                        <th>แก้ไข</th>
                                        <th>ลบ</th>
                                        <th>ยืนยัน</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="7"><hr class="underline"></td>
                                    </tr>
                                <tbody>
                                    <tr>
                                        <td>แดชบอร์ด</td>
                                        <td><input type="checkbox" name="dashboard_all" id="dashboard_all"></td>
                                        <td><input type="checkbox" name="dashboard_read" id="dashboard_read"></td>
                                        <td><input type="checkbox" name="dashboard_create" id="dashboard_create"></td>
                                        <td><input type="checkbox" name="dashboard_update" id="dashboard_update"></td>
                                        <td><input type="checkbox" name="dashboard_delete" id="dashboard_delete"></td>
                                        <td><input type="checkbox" name="dashboard_confirm" id="dashboard_confirm"></td>
                                    </tr>
                                    <tr>
                                        <td>ข้อมูลพนักงาน</td>
                                        <td><input type="checkbox" name="employee_all" id="employee_all"></td>
                                        <td><input type="checkbox" name="employee_read" id="employee_read"></td>
                                        <td><input type="checkbox" name="employee_create" id="employee_create"></td>
                                        <td><input type="checkbox" name="employee_update" id="employee_update"></td>
                                        <td><input type="checkbox" name="employee_delete" id="employee_delete"></td>
                                        <td><input type="checkbox" name="employee_confirm" id="employee_confirm"></td>
                                    </tr>
                                    <tr>
                                        <td>เมนูอาหาร</td>
                                        <td><input type="checkbox" name="menu_all" id="menu_all"></td>
                                        <td><input type="checkbox" name="menu_read" id="menu_read"></td>
                                        <td><input type="checkbox" name="menu_create" id="menu_create"></td>
                                        <td><input type="checkbox" name="menu_update" id="menu_update"></td>
                                        <td><input type="checkbox" name="menu_delete" id="menu_delete"></td>
                                        <td><input type="checkbox" name="menu_confirm" id="menu_confirm"></td>
                                    </tr>
                                    <tr>
                                        <td>โต๊ะอาหาร</td>
                                        <td><input type="checkbox" name="table_all" id="table_all"></td>
                                        <td><input type="checkbox" name="table_read" id="table_read"></td>
                                        <td><input type="checkbox" name="table_create" id="table_create"></td>
                                        <td><input type="checkbox" name="table_update" id="table_update"></td>
                                        <td><input type="checkbox" name="table_delete" id="table_delete"></td>
                                        <td><input type="checkbox" name="table_confirm" id="table_confirm"></td>
                                    </tr>
                                    <tr>
                                        <td>รายการจัดซื้อ</td>
                                        <td><input type="checkbox" name="buying_all" id="buying_all"></td>
                                        <td><input type="checkbox" name="buying_read" id="buying_read"></td>
                                        <td><input type="checkbox" name="buying_create" id="buying_create"></td>
                                        <td><input type="checkbox" name="buying_update" id="buying_update"></td>
                                        <td><input type="checkbox" name="buying_delete" id="buying_delete"></td>
                                        <td><input type="checkbox" name="buying_confirm" id="buying_confirm"></td>
                                    </tr>
                                    <tr>
                                        <td>โปรโมชั่น</td>
                                        <td><input type="checkbox" name="promotion_all" id="promotion_all"></td>
                                        <td><input type="checkbox" name="promotion_read" id="promotion_read"></td>
                                        <td><input type="checkbox" name="promotion_create" id="promotion_create"></td>
                                        <td><input type="checkbox" name="promotion_update" id="promotion_update"></td>
                                        <td><input type="checkbox" name="promotion_delete" id="promotion_delete"></td>
                                        <td><input type="checkbox" name="promotion_confirm" id="promotion_confirm"></td>
                                    </tr>
                                    <!-- เพิ่มสิทธิ์อื่นๆตามความต้องการ -->
                                </tbody>
                            </table>
                        </div>
                        <div class="input-field">
                            <button type="submit" class="btn">สร้างสิทธิ์ผู้ใช้งาน</button>
                            <button type="reset" class="btn">ยกเลิก</button>
                        </div>
                </form>
        </div>
    </section>

    <!-- Link JS -->
    <script src="../js/index.js"></script>
</body>

</html>