<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POS</title>

    <!-- Box Icons  -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Styles  -->
    <link rel="shortcut icon" href="img/kxp_fav.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/permission.css">

</head>

<body>
    <div class="sidebar close">
        <!-- ========== Logo ============  -->
        <a href="#" class="logo-box">
            <i class='bx bxs-cat'></i>
            <div class="logo-name">POS</div>
        </a>

        <!-- ========== List ============  -->
        <ul class="sidebar-list">
            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="dashboard" class="link">
                        <i class='bx bx-grid-alt'></i>
                        <span class="name">แดชบอร์ด</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="/dashboard" class="link submenu-title">แดชบอร์ด</a>
                    <!-- submenu links here  -->
                </div>
            </li>

            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="/employee" class="link">
                        <i class='bx bx-collection'></i>
                        <span class="name">ข้อมูลพนักงาน</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="/employee" class="link submenu-title">ข้อมูลพนักงาน</a>
                    <a href="/employee" class="link">พนักงาน</a>
                    <a href="" class="link">ผู้ใช้งาน</a>
                    <a href="/permission" class="link">สิทธิ์ผู้ใช้งาน</a>
                </div>
            </li>

            <!-- -------- Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bxs-food-menu'></i>
                        <span class="name">เมนูอาหาร</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">เมนูอาหาร</a>
                    <a href="#" class="link">เมนูอาหาร</a>
                    <a href="#" class="link">ตั้งค่าหมวดหมู่</a>
                    <a href="#" class="link">ตั้งค่าหน่วยสินค้า</a>
                    <a href="#" class="link">ตั้งค่าประเภท</a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-table'></i>
                        <span class="name">โต๊ะอาหาร</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">โต๊ะอาหาร</a>
                    <a href="#" class="link">จัดโต๊ะอาหาร</a>
                    <a href="#" class="link">สั่งเมนู</a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li class="dropdown">
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bx-cart-download'></i>
                        <span class="name">รายการจัดซื้อ</span>
                    </a>
                    <i class='bx bxs-chevron-down'></i>
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">รายการจัดซื้อ</a>
                    <a href="#" class="link">รายการจัดซื้อ</a>
                    <a href="#" class="link">คงคลัง</a>
                    <a href="#" class="link">ตั้งค่าประเภท</a>
                    <a href="#" class="link">ตั้งค่าปริมาณ</a>
                </div>
            </li>

            <!-- -------- Non Dropdown List Item ------- -->
            <li>
                <div class="title">
                    <a href="#" class="link">
                        <i class='bx bxs-dollar-circle'></i>
                        <span class="name">โปรโมชั่น</span>
                    </a>
                    <!-- <i class='bx bxs-chevron-down'></i> -->
                </div>
                <div class="submenu">
                    <a href="#" class="link submenu-title">โปรโมชั่น</a>
                    <!-- submenu links here  -->
                </div>
            </li>
    </div>

    <!-- ============= Home Section =============== -->
    <section class="home">
    <div class="nav">
        <div class="toggle-sidebar">
            <i class='bx bx-menu'></i>
        </div>
            <nav>
                <div class="nav-content"> <!-- Added this wrapper for better control -->
                    <div class="profile-details">
                        <img src="../img/chef.png" alt="">
                    </div>
                    <a href="/login">เข้าสู่ระบบ</a>
                </div>
            </nav>
        </div>

        <!-- ============= Dashboard =============== -->

        <div class="topic">
            สิทธิ์ผู้ใช้งาน
            <div class="search-add-container">
                <input type="text" id="searchBox" placeholder="ค้นหาสิทธิ์ผู้ใช้งาน..." />
                <button onclick="window.location.href='/add_permission'" class="add-permission-button">สร้างสิทธิ์ผู้ใช้งาน</button>
            </div>
        </div>
        
        <!-- ============= Center Dashboard =============== -->
        
        <div class="centered-content">
            <div class="permission-container">
                <div class="permission-header">
                    <ul class="permission-details">
                        <li class="id-permission">รหัสสิทธิ์ผู้ใช้งาน</li>
                        <li class="name-permission">ชื่อสิทธิ์ผู้ใช้งาน</li>
                        <li class="action-permission">จัดการ</li>
                    </ul>
                </div>
                <hr class="underline">
                <% permission.forEach(function(permission) { %>
                    <div class="permission-content">
                        <ul class="permission-details">
                            <li class="permission-id">
                                <%= permission.id %> <!-- Assuming the property is named 'id' -->
                            </li>
                            <li class="permission-name">
                                <%= permission.name %> <!-- Assuming the property is named 'name' -->
                            </li>
                            <li class="permission-action">
                                <button onclick="location.href='/view_permission/<%= permission.id %>'" class="view-button">ดูข้อมูล</button>
                                <form action="/delete_permission/<%= permission.id %>" method="post" style="display: inline;">
                                    <button type="submit" class="delete-button" onclick="return confirm('ยืนยันการลบสิทธิ์ผู้ใช้งาน');">ลบ</button>
                                </form>
                            </li> 
                        </ul>
                    </div>
                <% }); %>
            </div>
        </div>

    </section>

    <!-- Link JS -->
    <script src="../js/index.js"></script>
</body>

</html>