<div class="centered-content">
    <div class="form-container">
        <form action="/create_test" method="post" id="employeeForm">
            <% if (error) { %>
            <div class="form-group">
                <h2>ข้อมูลส่วนตัว</h2>
                <hr class="underline">
                <div class="form-container">
                    <label for="employee_id">รหัสพนักงาน</label>
                    <input type="text" id="employee_id" name="employee_id" required aria-label="รหัสพนักงาน">
                    <% if (error.employee_id) { %>
                        <p style="color: red;"><%= error.employee_id %> is a duplicate.</p>
                    <% } %>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="title">คำนำหน้า</label>
                        <select id="title" name="title" required aria-label="คำนำหน้า">
                            <option value="">เลือกคำนำหน้า</option>
                            <option value="นาย">นาย</option>
                            <option value="นาง">นาง</option>
                            <option value="นางสาว">นางสาว</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="first_name">ชื่อ</label>
                        <input type="text" id="first_name" name="first_name" required aria-label="ชื่อ">
                    </div>

                    <div class="form-group">
                        <label for="last_name">นามสกุล</label>
                        <input type="text" id="last_name" name="last_name" required aria-label="นามสกุล">
                    </div>

                    <div class="form-group">
                        <label for="nickname">ชื่อเล่น</label>
                        <input type="text" id="nickname" name="nickname" required aria-label="ชื่อเล่น">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group">
                        <label for="id_number">เลขบัตรประชาชน</label>
                        <input type="text" id="id_number" name="id_number" required aria-label="เลขบัตรประชาชน">
                        <% if (error.id_number) { %>
                            <p style="color: red;"><%= error.id_number %> is a duplicate.</p>
                        <% } %>
                    </div>

                    <div class="form-group">
                        <label for="date_of_birth">วันเกิด</label>
                        <input type="date" id="date_of_birth" name="date_of_birth" required aria-label="วันเกิด">
                    </div>
                </div>

                <h2>ข้อมูลสำหรับติดต่อ</h2>
                <hr class="underline">

                <label for="phone_number">เบอร์โทรศัพท์</label>
                <input type="text" id="phone_number" name="phone_number" required aria-label="เบอร์โทรศัพท์">
                <% if (error.phone_number) { %>
                    <p style="color: red;"><%= error.phone_number %> is a duplicate.</p>
                <% } %>

                <label for="email">อีเมล</label>
                <input type="email" id="email" name="email" required aria-label="อีเมล">

                <label for="other_contact">ข้อมูลติดต่ออื่น ๆ</label>
                <textarea id="other" name="other" required aria-label="ข้อมูลติดต่ออื่นๆ" rows="2" style="width: 36%;"></textarea>
            </div>
            <% } %>
            <button type="submit">บันทึก</button>
            <button type="reset">ยกเลิก</button>
        </form>
    </div>
</div>