.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120vh;
    text-align: center;
}

.text-container {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    width: calc(100% - 20px);
    box-sizing: border-box;
}

.text {
    font-size: 25px;  
    text-align: left;
}

.underline {
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

.password-field {
    position: relative;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 350px;
}

.password-field label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    margin-left: 2px;
    padding: 0 4px;
    font-size: smaller;
}

.input-icon-container {
    position: relative; /* Ensure this container has relative positioning */
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: flex-start; /* Align items to the left */
}

#confirm-password-feedback-icon {
    position: absolute;
    right: 20px;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    font-size: 20px;
}

.password-field input {
    width: 100%;
    height: 40px;
    padding: 10px 0;
    padding-left: 10px; /* Merged property */
    box-sizing: border-box;
}

.password-field span {
    display: block;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 20px;
}

.password-condition {
    display: flex;
    align-items: center;
    gap: 1px;
    margin-top: 5px;
}

.icon-placeholder {
    width: 20px;
    height: 20px;
    font-size: 20px;
}

.green {
    color: green;
}

.red {
    color: red;
}


button[type="submit"] {
    background-image: linear-gradient(to right, #4CAF50, #5cb85c); /* Green gradient */
}

button[type="reset"] {
    background-image: linear-gradient(to right, #ff4b5a, #ff6b81); /* Red gradient */
}

button {
    margin: 10px 5px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    transition: background-image 0.3s, box-shadow 0.3s; /* Smooth transition for hover */
}