.form-container {
    overflow: hidden;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-top: 20px;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="time"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
    width: 35%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    background-color: #fdfdfd;
    color: #495057;
    transition: border-color 0.3s, box-shadow 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(7, 7, 7, 0.5);
}

button[type="submit"],
button[type="reset"] {
    padding: 12px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    transition: background-image 0.3s, box-shadow 0.3s;
}

button[type="submit"] {
    background-image: linear-gradient(to right, #4CAF50, #5cb85c);
}

button[type="reset"] {
    background-image: linear-gradient(to right, #ff4b5a, #ff6b81);
}

.breadcrumbs,
.topic {
    font-size: 14px;
    margin-bottom: 10px;
    color: #6c757d;
}

.breadcrumbs a,
.topic a {
    color: #0275d8;
    text-decoration: none;
}

.breadcrumbs a:hover,
.topic a:hover {
    text-decoration: underline;
}

.topic {
    font-size: 40px;
    color: #333;
    display: flex;
    align-items: center;
}

.grouped-fields-container .input-group {
    display: flex;
    /* Ensures that the input group acts as a flex container */
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: #ffffff;
    padding: 0.5rem;
    max-width: 50%;
    /* Controls the max width of the input group */
}

.grouped-fields-container .form-control,
.grouped-fields-container .custom-select {
    flex-grow: 1;
    /* Allows fields to grow to fill the container */
    flex-shrink: 1;
    /* Allows fields to shrink if necessary */
    flex-basis: 0%;
    /* Starts with the smallest base size and grows as needed */
    position: relative;
    margin-bottom: 0;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    height: 50px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 450;
    border-radius: 0;
    /* Optional: Adjusts border-radius for a unified look */
}

/* Specific adjustments for form-control if needed */
.grouped-fields-container .form-control {
    border-right: none;
    /* Removes the right border to blend with adjacent select */
}

.form-group {
    position: relative;
}

.suggestions {
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    position: absolute;
    width: 35%; /* Make the suggestions dropdown the same width as the input */
    z-index: 1000;
    top: 95%; /* Position it directly below the input field */
    left: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 4px; /* Rounded corners */
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.suggestion-item:not(:last-child) {
    border-bottom: 1px solid #eee; /* Add a divider between items */
}