.topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 20px;
}

.search-add-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#searchBox {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98.5%;
}

.menu-container {
    width: 100%;
}

.menu-header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f0f0f0;
}

.menu-details {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    width: 100%;
}

.menu-details li {
    flex: 1;
    text-align: center;
}

.menu-content {
    margin-top: 10px;
}

.menu-detail {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.menu-detail li {
    flex: 1;
    text-align: center;
}

.add-menu-button {
    color: white;
    border: none;
    background-color: #4CAF50;
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

/* ///////////////////////////// */

.view-button, .delete-button, .add-menu-button {
    padding: 5px 10px; /* Adjusted to match .view-button */
    background-color: #007bff; /* Consistent color across buttons */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* If there's a specific action section in employee similar to .user-action */
.menu-action {
    display: flex;
    justify-content: center;
    align-items: center; /* Ensures alignment similar to .user-action */
}

.delete-button {
    background-color: #dc3545; /* Kept original color for delete button */
    margin-left: 10px; /* Kept original spacing */
}

.add-menu-button {
    background-color: #4CAF50; /* Kept original color */
    padding: 10px 20px; /* Kept original padding */
    font-size: 16px; /* Ensured consistency in font size across buttons */
    border-radius: 5px; /* Kept original border-radius */
    cursor: pointer; /* Kept original cursor style */
    transition: background-color 0.3s ease; /* Kept original transition for hover effect */
}

.view-button:hover, .delete-button:hover, .add-menu-button:hover {
    opacity: 0.9; /* Slightly more opaque for a subtle effect */
    transform: scale(1.05); /* Slightly larger to indicate interactivity */
}

.delete-button:hover {
    background-color: #c82333; /* A darker shade for the delete button */
}

.add-menu-button:hover {
    background-color: #369b47; /* A slightly darker green for better contrast */
}
