.topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 20px;
}

.search-add-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#searchBox {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98.5%;
}

.promotion-container {
    width: 100%;
}

.promotion-header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f0f0f0;
}

.promotion-details {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    width: 100%;
}

.promotion-details li {
    flex: 1;
    text-align: center;
}

.promotion-item {
    margin-top: 10px;
}

.promotion-detail {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.promotion-detail li {
    flex: 1;
    text-align: center;
}

.btn-view, .btn-delete {
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    margin-right: 5px;
}

.btn-view {
    background-color: #007bff; /* Blue */
}

.btn-view:hover {
    background-color: #0056b3;
}

.btn-delete {
    background-color: #f44336; /* Red */
    border: none;
    cursor: pointer;
}

.btn-delete:hover {
    background-color: #e53935;
}

.add-promotion-button {
    padding: 5px 10px; /* Adjusted to match .view-button */
    background-color: #007bff; /* Consistent color across buttons */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-promotion-button {
    background-color: #4CAF50; /* Kept original color */
    padding: 10px 20px; /* Kept original padding */
    font-size: 16px; /* Ensured consistency in font size across buttons */
    border-radius: 5px; /* Kept original border-radius */
    cursor: pointer; /* Kept original cursor style */
    transition: background-color 0.3s ease; /* Kept original transition for hover effect */
}

.add-buying-button:hover {
    opacity: 0.9; /* Slightly more opaque for a subtle effect */
    transform: scale(1.05); /* Slightly larger to indicate interactivity */
}

.promotion-header .promotion-details li,
.promotion-item .promotion-detail li {
    width: 14%;
}

.promotion-header .promotion-details li:last-child,
.promotion-item .promotion-detail li:last-child {
    width: 20%;
}