.topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 20px;
}

.search-add-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#searchBox {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}

.centered-content.dim {
    filter: blur(5px);
}

.setting-container {
    width: 100%;
}

.setting-header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f0f0f0;
}

.setting-details {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    width: 100%;
}

.setting-details li {
    flex: 1;
    text-align: center;
}

.setting-content {
    margin-top: 10px;
}

.setting-detail {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.setting-detail li {
    flex: 1;
    text-align: center;
}

.add-setting-button {
    color: white;
    border: none;
    background-color: #4CAF50;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.add-setting-button:hover {
    opacity: 0.9;
    /* Slightly more opaque for a subtle effect */
    transform: scale(1.05);
    /* Slightly larger to indicate interactivity */
}

.delete-button {
    padding: 5px 10px;
    /* Adjusted to match .view-button */
    background-color: #dc3545;
    /* Consistent color across buttons */
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.delete-button:hover {
    opacity: 0.9;
    /* Slightly more opaque for a subtle effect */
    transform: scale(1.05);
    /* Slightly larger to indicate interactivity */
    background-color: #c82333;
}

.type-detail, .unit-detail, .type-detail, .category-detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.type-detail span, .unit-detail span, .type-detail span, .category-detail span {
    flex: 1;
    text-align: center;
}


/* Popup */
.modal {
    display: none;
    position: fixed;
    z-index: 1000; /* Keep on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6); /* Dark background for contrast */
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s; /* Smooth fade-in */
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.modal-content {
    background-color: #fefefe; /* Lighter background */
    margin: auto;
    padding: 20px; /* Adjust padding */
    border: 1px solid #888;
    width: 25%; /* Adjust width */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Enhanced shadow for depth */
    animation: scaleIn 0.3s; /* Dynamic appearance */
}

@keyframes scaleIn {
    from {transform: scale(0.7);}
    to {transform: scale(1);}
}

.close {
    color: #d63535; /* Neutral color */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ec8989; /* Darker color for visibility */
    text-decoration: none;
    cursor: pointer;
}

/* Additional styling for improved aesthetics */
.modal-header, .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c; /* Green header/footer */
    color: white; /* Text color */
}

.modal-body {padding: 2px 16px;}

/* Enhance buttons and inputs within modal for consistency */
.modal-content button,
.modal-content input[type="text"] {
    padding: 10px;
    margin-top: 10px; /* Space out elements */
    border: 1px solid #ccc; /* Subtle border */
    border-radius: 5px; /* Rounded edges for inputs/buttons */
    box-sizing: border-box;
    
}

.modal-content button {
    background-color: #4CAF50; /* Green button */
    color: white; /* Button text color */
    cursor: pointer; /* Pointer cursor for buttons */
    padding: 10px 15px; /* Increased padding for larger size */
    font-size: 12px; /* Larger font size for better readability */
    border-radius: 10px; /* Slightly larger border-radius for a rounded look */
}

.modal-content button:hover {
    opacity: 0.9;
    transform: scale(1.05);
    background-color: #45a049; 
}