.topic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 20px;
}

.search-add-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#searchBox {
    padding: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}

.centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98.5%;
}

.user-container {
    width: 100%;
}

.user-header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f0f0f0;
}

.user-details {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    width: 100%;
}

.user-details li {
    flex: 1;
    text-align: center;
}

.User-content {
    margin-top: 10px;
}

.user-detail {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.user-detail li {
    flex: 1;
    text-align: center;
}

.view-button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Ensure the button aligns with the 'จัดการ' header */
.user-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-button:hover {
    opacity: 0.9; /* Slightly more opaque for a subtle effect */
    transform: scale(1.05); /* Slightly larger to indicate interactivity */
}
